html, body {
	height: 100%;
	width: 100%;
}
body {
	margin: 0;
	border: none;
	background: #6633ff;
}
.overlay {
	height: 100%;
	width: 100%;
	position: fixed;
	background: rgba(0,0,0,0.0);
	z-index: 2;
}
img {
	width: 55%;
	height: auto;
	z-index: 1;
	margin: 10% 22.5% 10% 22.5%;
}
@media screen and (max-width: 512px) {
	img {
		width: 90%;
		margin: 5% 5%;
	}
}